.git
.gitignore
.gradle
.idea
build/
dist/
*.log
*.jar
.DS_Store
.env
.classpath
.project
.settings
*.class
.gradle/
gradlew
gradlew.bat
*.iml
*.iws
*.ipr
.vscode/
node_modules/
npm-debug.log
yarn-error.log
README.md
HELP.md

